{% extends "templates/base.html" %}
{% block content %}
      <footer>
          <div class="wrapper">
              <div id="footer-info">
                  <p>Copyright 2016 BESTEST GAEM SERVIEC. All rights reserved.</p>
                  <li><a href="/register_developer">Register as a developer</a></li>
              </div>
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/fi_FI/sdk.js#xfbml=1&version=v2.5";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>

          {% autoescape on %}

          {% with "http://localhost:8000" as host %}
          {% with "Share in" as share_txt %}

          {% with "twitter" as service %}
          <a href="http://twitter.com/share?url={{ host }}{{ page_url }}&amp;text=Checkout%20This%20Gameservice&amp;hashtags=awesoemgameserviec" target="_blank" title="{{ share_txt }} {{ service }}">
            <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="{{ share_txt }} {{ service }}"/>
          </a>
          {% endwith%}

          {% with "facebook" as service %}
          <a href="http://www.facebook.com/share.php?u={{ host }}{{ page_url }}" target="_blank" title="{{ share_txt }} {{ service }}">
            <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="{{ share_txt }} {{ service }}"/>
          </a>
          {% endwith %}
          {% with "reddit" as service %}
          <a href="http://reddit.com/submit?url={{ host }}{{ page_url }}&amp;t={{ title }}" target="_blank" title="{{ share_txt }} {{ service }}">
            <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="{{ share_txt }} {{ service }}"/>
          </a>
          {% endwith %}
          {% endwith %}
          {% endwith %}
          {% endautoescape %}
          </div>
      </footer>
{% endblock %}
