{% load staticfiles %}
<html>
      {% block content %}
<head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8">
    <meta name="viewport" content="width=device-width, minimium-scale=1.0, maxium-scale=1.0" />
    <title>GAEMSERVIEC {{ request.name }}</title>
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'cssandimages/basecss.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel="stylesheet" type="text/css">
    <script src="lib/jquery-1.11.3.min.js"></script>
</head>


      {% block header %}
      {% include "header.html" %}
      {% endblock %}
    <body>


        <div id="sos-image">
            <div class="wrapper">
              {% if user.is_authenticated %}
              <h2><strong>GET TO THA SHOPPA!!!</strong></h2>
              <a href="/store" class="button-1">Store</a>
              {% else %}
                <h2><strong>Want to play some awesome games??</strong></h2>
                <a href="/register" class="button-1">Register</a>
              {% endif %}
            </div>
        </div>
        {% block footer %}
        {% include "footer.html" %}
        {% endblock %}
        </body>

{% endblock %}
</html>
