{% load staticfiles %}
{% block content %}
<head>
    <meta http-equiv="content-type" content="text/html"; charset="utf-8">
    <meta name="viewport" content="width=device-width, minimium-scale=1.0, maxium-scale=1.0" />
    <title>GAEMSERVIEC</title>
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'cssandimages/gamelistcss.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel="stylesheet" type="text/css">
    <script src="lib/jquery-1.11.3.min.js"></script>
</head>

{% block header %}
{% include "header.html" %}
{% endblock %}
<body>
  <div id=jumbotron>
    <div id=container>
<form action="/import/" method="post">
    {% csrf_token %}
    <label for="id_email">Game title:</label>
    {{ form.game_name }}<br>
    <label for="id_email">Price:</label>
    {{ form.price }}<br>
    <label for="id_email">Description:</label>
    {{ form.game_desc }}<br>
    <label for="id_email">Game URL:</label>
    {{ form.link }}<br>
    <input type="submit" value="Submit" />
    <input type="hidden" name="next" value="/store/" />
</form>
</div>
</div>
</body>
{% endblock %}
